frontend/node_modules
*.pyc
*.py~
.env
.env~
.env.save
.env.save.1
.gitignore~
.git
.gitignore
.vscode/
.idea/
*.pickle
*.log
log/
*.swp
.prettierrc
.env.development.local
.env.production.local
robots.txt
